// 颜色
$blue: #1876FE;
$green: #67C23A;
$red: #F20000;
$orange: #FF8611;
$black: #000000;
// 主要灰色
$grey-level-1: #333333;
// 常规灰色
$grey-level-2: #666666;
// 次要灰色
$grey-level-3: #999999;
// 提示灰色
$grey-level-4: #dddddd;
// 分割灰色
$grey-level-5: #F2F2F2;
// 背景灰色
$grey-level-6: #F8F8F8;

// 文字相关变量 sans-serif无衬线字体 
$base-font-family: 'PingFang SC', 'Microsoft Yahei', sans-serif;

// 