@import '~@two-ui/base/style/var.scss';

.two-toast {
  
  &__toast {
    padding: 10px 20px;
    background-color: rgba($color: #000000, $alpha: 0.8);
    display: inline-block;
    color: white;
    border-radius: 20px;
  }

  &__loading {
    padding: 20px;
    color: white;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba($color: #000000, $alpha: 0.8);
    min-width: 80px;
    min-height: 80px;
  }

  .two-toast__icon {
    font-size: 30px;
  }
  
  .two-toast__text{
    margin-top: 10px;
  }
}